@model Recetas_1.Models.INGREDIENTE

@{
    ViewBag.Title = "Editar ingrediente";
}

<h2>Edita este ingrediente</h2>
<br />

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>INGREDIENTE</legend>

        @Html.HiddenFor(model => model.IDINGREDIENTE)
        @Html.HiddenFor(model => model.IDPASO)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Actualizar Ingrediente" />
        </p>
    </fieldset>
}

<p>
    @Html.ActionLink("Regresar al Paso", "Details", "PASO", new { id = Model.IDPASO }, null)
</p>
