@model Recetas_1.Models.ROLINTERNACIONAL

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.IDRECETA)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.IDRECETA)
    @Html.ValidationMessageFor(model => model.IDRECETA)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.REGION)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.REGION)
    @Html.ValidationMessageFor(model => model.REGION)
</div>

