@model Recetas_1.Models.PASO

@{
    ViewBag.Title = "Paso " + @Model.NUMEROPASO;
}

<h1>Paso @Model.NUMEROPASO</h1>
<br />

<h3>Descripción:</h3>
<br />

<fieldset>
    <legend>PASO</legend>

    <div class="display-field">@Model.DESCRIPCION</div>

</fieldset>

<h3>Ingredientes necesarios:</h3>
<table>
@foreach (var item in Model.getIngredientes())
{
    <tr>
        <td></td>
        <td>
            @item.CANTIDAD
        </td>
        <td>
            @item.NOMBRE
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", "INGREDIENTE", new { id=item.IDINGREDIENTE }, null) |
            @Html.ActionLink("Eliminar", "Delete", "INGREDIENTE", new { id=item.IDINGREDIENTE }, null)
        </td>
    </tr>
}
</table>
<br />

<img src=@Model.FOTO style="max-width: 100%" />
<br />

<p>
    @Html.ActionLink("Editar este Paso", "Edit", new { id=Model.IDPASO })
</p>

<p>
    @Html.ActionLink("Regresar a la lista de Pasos", "Index", new { idReceta = Model.IDRECETA })
</p>


