@model Recetas_1.Models.PASO

@{
    ViewBag.Title = "Editar paso";
}

<h2>Edita este paso</h2>
<br />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>PASO</legend>

        @Html.HiddenFor(model => model.IDRECETA)
        @Html.HiddenFor(model => model.NUMEROPASO)
        @Html.HiddenFor(model => model.IDPASO)
        @Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Actualizar Paso" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a la lista de Pasos", "Index", new { idReceta=Model.IDRECETA })
</div>
