@model IEnumerable<Recetas_1.Models.PASO>

@{
    ViewBag.Title = "Pasos";
}

<h1>@ViewBag.nombreReceta</h1>

<h3>Procedimientos:</h3>

<table>

@foreach (var item in Model) {
    <tr>
        <td>
			@item.NUMEROPASO
        </td>
        <td>
			@item.DESCRIPCION
        </td>
         <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDPASO }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IDPASO })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Regresar a la Receta", "Details", "RECETA", new { id=ViewBag.idReceta }, null)
</p>

