@model Recetas_1.Models.RECETA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>RECETA</legend>

    <div class="display-label">NOMBRE</div>
    <div class="display-field">@Model.NOMBRE</div>

    <div class="display-label">PORCIONES</div>
    <div class="display-field">@Model.PORCIONES</div>

    <div class="display-label">COMPLEJIDAD</div>
    <div class="display-field">@Model.COMPLEJIDAD</div>

    <div class="display-label">TIEMPO</div>
    <div class="display-field">@Model.TIEMPO</div>

    <div class="display-label">PAIS</div>
    <div class="display-field">@Model.PAIS</div>

    <div class="display-label">FOTO</div>
    <div class="display-field">@Model.FOTO</div>

    <div class="display-label">TIPOPREPARACION</div>
    <div class="display-field">@Model.TIPOPREPARACION</div>

    <div class="display-label">ETIQUETA</div>
    <div class="display-field">@(Model.ETIQUETA == null ? "None" : Model.ETIQUETA.Count.ToString())</div>

    <div class="display-label">PASO</div>
    <div class="display-field">@(Model.PASO == null ? "None" : Model.PASO.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IDRECETA }) |
    @Html.ActionLink("Back to List", "Index")
</p>


