@model Recetas_1.Models.RECETA

@{
    ViewBag.Title = "Recetas";
}

<h1>@Model.NOMBRE</h1>
<br/>
<img src=@Model.FOTO />

<h5>Porciones</h5>
    <div class="display-field">@Model.PORCIONES</div>

<h5>Complejidad</h5>
    <div class="display-field">@Model.COMPLEJIDAD</div>

<h5>Duración</h5>
    <div class="display-field">@Model.TIEMPO</div>

<h5>País de origen</h5>
    <div class="display-field">@Model.PAIS</div>

<h5>Preparación</h5>
    <div class="display-field">@Model.TIPOPREPARACION</div>

<h5>Etiquetas</h5>
@foreach (var item in Model.getListaEtiquetas())
{
    <div class="display-field">@item.NOMBRE</div>
}

<h3>Lista de Ingredientes</h3>
<table>
@foreach (var item in Model.getListaIngredientes())
{
    <tr>
        <td></td>
        <td>
            @item.CANTIDAD
        </td>
        <td>
            @item.NOMBRE
        </td>
    </tr>
}
</table>

<p>
    @Html.ActionLink("Lista de Pasos", "Pasos", new { id=Model.IDRECETA })
</p>

<p>
    @Html.ActionLink("Editar receta", "Edit", new { id=Model.IDRECETA }) |
    @Html.ActionLink("Regresar a Mi lista de Recetas", "Index")
</p>


